@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$corDeFundo;
    transition: background-color .5s ease;

    &--is-hidden {
        background-color: transparent;
        transition: background-color .5s ease;

        .header {
            &__logo, &__links__item:first-child {
                opacity: 0;
                visibility: hidden;
                transition: opacity .5s ease;
                z-index: 1;

            }
        }
    }


    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;
<<<<<<< HEAD

        @media (max-width: 768px) {
            padding: 0 12px 0 20px;

        }
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease;

        @media (max-width: 768px) {
            max-width: 64px;
        }
=======
    }

    &__logo {
        max-width: 60px;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease;
>>>>>>> 4089bf5d4299244555ca08e8e7181e604c1cf83c
    }

    &__links {
        display: flex;

        &__item {
            margin: 5px;
            transition: opacity .5s ease;
        }
    }
    .button {
        height: 50px;
<<<<<<< HEAD

        @media (max-width: 768px) {
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
=======
>>>>>>> 4089bf5d4299244555ca08e8e7181e604c1cf83c
    }
}
