$corDeFundo: #0d636e;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
<<<<<<< HEAD
$cordeFundoBotaoPrimario: #6421ff;
$cordeFundoBotaoSecundario: #0063e5;
=======
$cordeFundoBotaoPrimario: #f75b1e;
$cordeFundoBotaoSecundario: #ff7605;
>>>>>>> 4089bf5d4299244555ca08e8e7181e604c1cf83c
$cordeFundoBotaoDark: #000;
